{% extends "base.html" %}
{% block content %}

<!-- Main Content -->
<div class="container">
    <div class="row">
    	<div class="col-lg-8 col-md-10 mx-auto">
    		<h2>Origem</h2>
			<p>Sed non justo ante. Curabitur enim urna, laoreet in felis id, hendrerit interdum elit. Morbi fermentum lacus a faucibus faucibus. Duis urna magna, laoreet a aliquam quis, efficitur et tortor. Etiam eu venenatis ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent placerat libero in feugiat mattis.</p> 
			<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et tellus in est volutpat pretium. Mauris accumsan, lacus eget congue sodales, turpis nunc malesuada massa, at dapibus orci velit semper enim. In interdum vehicula ligula vel bibendum. Praesent vel blandit neque. Nullam sed est nec nulla vulputate sagittis. Sed eget tempus ante, id bibendum orci. Quisque quis sollicitudin purus. Suspendisse justo est, lobortis sed faucibus laoreet, posuere eu odio. Nullam pretium faucibus tempus. Sed scelerisque auctor ante, suscipit congue turpis gravida ac. Proin imperdiet enim id neque porta commodo. Maecenas ut orci bibendum, pulvinar arcu ut, mattis odio. Quisque in ante sapien. Morbi id nisi viverra, sodales nibh sollicitudin, laoreet arcu. Curabitur suscipit tellus leo.p>
			<h2>Membros:</h2>
			<ul>
				<li> renan - <span style="color:#509550">ren_casanova(C)</span> </li>
				<li> sebastian - <span style="color:#509550">seba_x</span> </li>
				<li> jeremy - <span style="color:#509550">4c1d_64</span> </li>
				<li> richard - <span style="color:#509550">clu3l355</span> </li>
				<li> nicholas - <span style="color:#509550">n1ck</span> </li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
